<h1>editing railevance</h1>

<%= error_messages_for :railevance %>

<% form_for(@railevance) do |f| %>
  <p>
    <b>Rail</b><br />
    <%= f.text_field :rail_id %>
  </p>

  <p>
    <b>Tie</b><br />
    <%= f.text_field :tie_id %>
  </p>

  <p>
    <b>Railser</b><br />
    <%= f.text_field :railser_id %>
  </p>

  <p>
    <%= f.submit "update" %>
  </p>
<% end %>

<%= link_to 'show', @railevance %>
