<h1>railevances</h1>

<table>
  <tr>
    <th>rail</th>
    <th>tie</th>
    <th>railser</th>
  </tr>

<% @railevances.each do |railevance| %>
  <tr>
    <td><%= link_to_concept railevance.r %></td>
    <td><%= link_to_concept railevance.t %></td>
    <td><li class="user"><%= railser_link railevance %></li></td>
    <td><%= link_to 'show', railevance %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new railevance', new_railevance_path %>
