<h1>New railevance</h1>

<%= error_messages_for :railevance %>

<% form_for(@railevance) do |f| %>
  <p>
    <b>Rail</b><br />
    <%= f.select :rail_id, @rails, :include_blank => true %>
  </p>

  <p>
    <b>Tie</b><br />
    <%= f.select :tie_id, @ties, :include_blank => true %>
  </p>

  <p>
    <%= f.submit "odelay" %>
  </p>
<% end %>

<%= link_to 'Back', railevances_path %>
