<h1>New railevance</h1>

<%= error_messages_for :railevance %>

<% form_for(@railevance) do |f| %>
  <p>
    <b>Rail</b><br />
		<% unless @railevance.rail_r %>
	    <%= f.select :rail_id, @rails, :include_blank => true %>
	  <% else %>
	    <%= f.select :rail_r_id, @railevances %>
	  <% end %>
  </p>

  <p>
    <b>Tie</b><br />
		<% unless @railevance.tie_r %>
	    <%= f.select :tie_id, @ties, :include_blank => true %>
	  <% else %>
	    <%= f.select :tie_r_id, @railevances %>
	  <% end %>
  </p>


  <%= f.select :tie_r_id, @railevances, :selected => @railevance.tie_r_id if @railevance.tie_r %>

  <p>
    <%= f.submit "odelay" %>
  </p>
<% end %>

<%= link_to 'Back', railevances_path %>
