<h1>new railevance</h1>

<%= error_messages_for :railevance %>

<% form_for(@railevance) do |f| %>
  <p>
    <b>rail</b><br />
		<% unless @railevance.rail_r %>
	    <%= f.select :rail_id, @rails, :include_blank => true %>
	  <% else %>
	    <%= f.select :rail_r_id, @railevances %>
	  <% end %>
  </p>

  <p>
    <b>tie</b><br />
		<% unless @railevance.tie_r %>
	    <%= f.select :tie_id, @ties, :include_blank => true %>
	  <% else %>
	    <%= f.select :tie_r_id, @railevances %>
	  <% end %>
  </p>

  <p>
    <%= f.submit "odelay" %>
  </p>
<% end %>
