<p>
  <%= link_to @railevance.rail.content, @railevance.rail %>
  <%= link_to @railevance.tie.content, @railevance.tie %>
</p>

<p>
  <b>railser.</b>
  <%=h Railser.find(@railevance.railser_id).name %>
</p>

<%= link_to 'edit', edit_railevance_path(@railevance) if current_railser_id == @railevance.railser_id %> 
<%= link_to 'bundles and fibers', railevances_path %>
