<%= error_messages_for :concept %>

<% form_for(@concept) do |f| %>
  <p>
    <b>type</b><br />
    <%= select :class, :name, @types, :value => @concept.class.name.downcase %>
  </p>

  <p>
    <b>content</b><br />
    <%= f.text_area :content, :size => '49x3' %>
  </p>

  <p>
    <b>character</b><br />
    <%= f.text_area :character, :size => '49x3' %>
  </p>

  <p>
    <%= f.submit "load" %>
  </p>
<% end %>

<%= link_to 'display', @concept %> |
<%= link_to 'back', collection_path(@concept) %>
