<h1>conceptualize something</h1>

<%= error_messages_for :concept %>

<% form_for @concept do |f| %>
  <p>
    <b>type</b><br />
    <%= select :class, :name, @types %>
  </p>

  <p>
    <b>content</b><br />
    <%= f.text_area :content, :size => '49x3' %>
  </p>
	
	<div id="character">
    <%= link_to_remote 'characterize', characteristic_concepts_path, :update => 'character', :position => 'bottom' %>
	</div>
	
  <p>
    <%= f.submit "ready" %>
  </p>
<% end %>

<%= link_to 'cattalogg', concepts_path %>
