<h1>conceptualize something</h1>

<%= error_messages_for :concept %>

<% form_for @concept do |f| %>
  <p>
    <b>type</b><br />
    <%= select :class, :name, @types %>
  </p>

  <p>
    <b>content</b><br />
    <%= f.text_area :content, :size => '49x3' %>
  </p>

  <%= link_to_function 'characterize', 'alert()' %>

  <p>
    <%= f.submit "ready" %>
  </p>
<% end %>

<%= link_to 'cattalogg', concepts_path %>
