<h1 id="collection_link"><%= link_to(@concept.class.name.downcase, collection_path(@concept)) %></h1>
<% if @concept.ambiguous? and @concepts %>
  <% @concepts.each do |c| %>
    <%= link_to c.class.name.downcase, c, :class => 'disambiguation', :id => c.dom_id %>
  <% end %>
<% end %>
<div id='<%= @concept.dom_id('content') %>'>
  <%=h @concept.content %>
</div>

<div id='<%= @concept.dom_id('characteristics') %>'>
  <%= render :partial => 'characteristic', :collection => @concept.character.values, :locals => {:keys => @concept.character.keys} %>
</div>

<div id='<%= @concept.dom_id('rails') %>'>
	<%= links_to_rails @concept %>
</div>

<div id='<%= @concept.dom_id('ties') %>'>
	<%= links_to_ties @concept %>
</div>

<%= content_tag :b, :id => @concept.railser.dom_id(@concept.railser.name) { link_to(@concept.railser.name, @concept.railser) } if @concept.railser %>

<%= link_to 'improve', send("edit_#{@concept.class.name.downcase}_path", @concept) %> |
<%= link_to 'catalog', concepts_path %>
