<h1><%= link_to(@concept.class.name.downcase, collection_path(@concept)) %></h1>
<% if @concept.ambiguous? and @concepts %>
  <% @concepts.each do |c| %>
    <%= link_to c.class.name.downcase, c, :class => 'disambiguation' %>
  <% end %>
<% end %>
<div>
  <%=h @concept.content %>
</div>

<div>
  <%=h @concept.character %>
</div>

<%= links_to_rails @concept %>
<%= links_to_ties @concept %>

<b><%= link_to(@concept.railser.name, @concept.railser) %></b>

<%= link_to 'improve', send("edit_#{@concept.class.name.downcase}_path", @concept) %> |
<%= link_to 'catalog', concepts_path %>
