<h1>Editing vote</h1>

<%= error_messages_for :vote %>

<% form_for(@vote) do |f| %>
  <p>
    <b>Rating</b><br />
    <%= f.text_field :rating %>
  </p>

  <p>
    <b>Concept</b><br />
    <%= f.text_field :concept_id %>
  </p>

  <p>
    <b>Railevance</b><br />
    <%= f.text_field :railevance_id %>
  </p>

  <p>
    <b>Characteristic</b><br />
    <%= f.text_field :characteristic_id %>
  </p>

  <p>
    <b>Railser</b><br />
    <%= f.text_field :railser_id %>
  </p>

  <p>
    <b>Deleted at</b><br />
    <%= f.datetime_select :deleted_at %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @vote %> |
<%= link_to 'Back', votes_path %>
