<%= error_messages_for :vote %>

<% form_for @vote do |f| %>
  <p>
    <b>Rating</b><br>
    <%= f.select :rating, 0..500 %>
  </p>

	<% unless @vote.concept %>
  <p>
    <%= f.select :concept_id, @concepts, :include_blank => true %>
  </p>
	<% else %>
		<%= @vote.concept.content %>
	<% end %>

	<% unless @vote.railevance %>
  <p>
    <b>Railevance</b><br>
    <%= f.select :railevance_id, @railevances, :include_blank => true %>
  </p>
	<% else %>
		<%= @vote.railevance.content%>
	<% end %>

  <p>
    <b>Characteristic</b><br>
    <%= f.text_field :characteristic_id %>
  </p>

    <%= f.submit 'go on record' %>
<% end %>

<%= link_to 'peep more first', votes_path, :class => 'collection', :id => 'votes' %>
