<%= error_messages_for :vote %>

<% form_for @vote do |f| %>
  <p>
    <b>Rating</b><br>
    <%= f.select :rating, 0..500 %>
  </p>

  <p>
    <%= f.select :concept_id, @concepts %>
  </p>

  <p>
    <b>Railevance</b><br>
    <%= f.text_field :railevance_id %>
  </p>

  <p>
    <b>Characteristic</b><br>
    <%= f.text_field :characteristic_id %>
  </p>

    <%= f.submit 'go on record' %>
<% end %>

<%= link_to 'peep more first', votes_path, :class => 'collection', :id => 'votes' %>
