<h1 id="<%= @vote.dom_id('rating') %>">
  <%= @vote.rating %>
</h1>

  <%= link_to @vote.concept.content, @vote.concept, :id => @vote.concept.dom_id('scrutinize') if @vote.concept_id %>
  <%= link_to @vote.railevance_id, @vote.railevance, :id => @vote.railevance.dom_id('scrutinize') if @vote.railevance_id %>

<p>
  <%=h @vote.characteristic_id if @vote.characteristic_id %>
</p>

<p>
  <%= railser_link @vote %>
</p>

<%= link_to 'poll', votes_path, :id => 'votes' %>
