<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Concepts: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'railevant' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
<div class='login'><%= login_stuff %></div>

<div id="ask_a_question">
	<% Concept %>
	<% form_for Question.new do |question| %>
	  <%= question.text_field :content, :size => 24 %>
	  <%= hidden_field :class, :name, :value => 'Question' %>
	  <%= question.submit 'ask a question' %>
	<% end %>
</div>
<div id="post_a_link">
	<% form_for Link.new do |link| %>
	  <%= link.text_field :content, :size => 10 %>
	  <%= hidden_field :class, :name, :value => 'Link' %>
	  <%= link.submit 'post a link' %>
  <% end %>
</div>
<div class="clearfix"></div>
<div id="navigation">
	<ul id="top_level">
		<li><%= link_to 'concepts', concepts_path %></li>
		<li><%= link_to 'connections', railevances_path %></li>
		<li><%= link_to 'railsers', railsers_path %></li>
	</ul>
</div>
<div class="clearfix"></div>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>
<%= link_to 'write', new_concept_path, :id => 'write' %>
</body>
</html>
